@model IEnumerable<UniversityProject.Models.User>

@{
  ViewData["Title"] = "Index";
} 
<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">UniversityProject</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
          <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="Index">Alunos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" asp-area="" asp-controller="Teachers" asp-action="Index">Professores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" asp-area="" asp-controller="Courses" asp-action="Index">Cursos</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
  <h1>Listagem</h1>

  <p>
    <button class="btn btn-outline-primary" onclick="location.href = document.referrer;"><i class="fa fa-arrow-right" aria-hidden="true"></i>Voltar</button>
    <button class="btn btn-primary"><a style="color:#fff" asp-action="Create">Criar novo registro</a></button>
  </p>
<table class="table">
  <thead>
    <tr>
   
      <th>
        @Html.DisplayNameFor(model => model.Nome)
      </th>

      <th>
        @Html.DisplayNameFor(model => model.Email)
      </th>
      <th>

      <th>
        @*@Html.DisplayNameFor(model => model.TipoUsuario)*@
      </th>
      <th>
        @Html.DisplayNameFor(model => model.Senha)
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model)
    {
      <tr>

        <td>
          @Html.DisplayFor(modelItem => item.Nome)
        </td>

        <td>
          @Html.DisplayFor(modelItem => item.Email)
        </td>

        <td>
          @*@Html.DisplayFor(modelItem => item.TipoUsuario)*@
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.Senha)
        </td>
        <td>
          <button class="btn btn-secondary" value="Edit" asp-action="Edit" asp-route-id="@item.Id"><a style="color:#ffffff" asp-action="Edit" asp-route-id="@item.Id">Editar</a></button>
          <button class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id"><a style="color:#ffffff" asp-action="Details" asp-route-id="@item.Id">Detalhes</a></button>
          <button class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><a style="color:#ffffff" asp-action="Delete" asp-route-id="@item.Id">Exluir</a></button>
        </td>
      </tr>
    }
  </tbody>
</table>
